// Import Lato font
@import url('https://fonts.googleapis.com/css?family=Lato')



// Import variables
@import 'variables.styl'

html,body
  font-family: Lato
  color: color-dark

p
  font-size: 16px

h1
  font-size: 32px

#app
  display flex
  flex-flow row
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  .sidebar
    padding normal-padding
    margin-right 20px
    background-color: color-primary
    min-height 100vh
    min-width 300px
    width calc(20% - 20px)
    overflow-y scroll
  .content
    background-color color-white
    width 80%
    padding normal-padding
